*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.the{
    font-size: 24px;
    transform:rotate(-90deg);
    position: relative;
    left: -75px;
    top: 44px;
}
.si{
    font-weight: 760;
    letter-spacing: 2px;
    font-size: 40px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 25px;
    margin: 20px;
}
.navbar li a{
    text-decoration: none;
}
.featured_art1 img{
    margin: 20px 600px 40px 180px;
    border-radius: 20px;
    height: 430px;
    width: 520px;
}
.featured_art2{
    position: absolute;
    left: 860px;
    top: 179px;
    border-radius: 20px;
    height: 350px;
    width: 370px;
}
.small_1 img{
border-radius: 20px;
margin-bottom: 30px;
height: 200px;
width: 370px;

} 
.small_2 img{
    height: 195px;
    width: 370px;
    border-radius: 20px;
}
.the_latest{
    height: 350px;
}

.main_ArtAll{
    margin: 10px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_1 img{
    margin:25px;
    height: 290px;
    width: 370px;
    border-radius: 25px;
}
.box_1cont{
    height: 200px;
    width: 330px;
    font-size: 19px;
    margin-left: 40px;
}
.box_2cont{
    height: 200px;
    width: 330px;
    font-size: 19px;
    margin-left: 40px;
}
.box_3cont{
    height: 200px;
    width: 330px;
    font-size: 19px;
    margin-left: 40px;
}
.box_2 img{
    margin:25px;
    height: 290px;
    width: 370px;
    border-radius: 20px;
}
.box_3 img{
    margin:25px;
    height: 290px;
    width: 370px;
    border-radius: 20px;
}
.maincat1{
    position: relative;
    top: 350px;
    right: 450px;
}
.maincat1 h2{
    margin: 10px 0px 40px 0px;
}
.cat1box_1{
    height: 200px;
}
.cat1box_1 img{
    height: 200px;
    width: 280px;
}
.cat1box_1p{
    height: 180px;
    width: 330px;
    position: relative;
    top: -200px;
    left: 1050px;
    font-size: 18px;
}
.cat2box_2 {
    margin-top: 385px;
    margin-left: -900px;
    height: 200px;
}
.cat2box_2 img{
    height: 200px;
    width: 280px;
}
.cat2box_2p{
    height: 180px;
    width: 350px;
    position: relative;
    top: -200px;
    left: 1490px;
    font-size: 18px;
}

.cat3box_3{
    margin-top: 40px;
    margin-left: -900px;
    height:auto;

}
.cat3box_3 img{
    height: 200px;
    width: 280px;
}
.cat3box_3p{
    height: 180px;
    width: 320px;
    position: relative;
    top: -200px;
    left: 1490px;
    font-size: 18px;

}
.hometoppost{
    position: relative;
    top: -1000px;
    float: right;
    clear: left;
}

#homespan1{
    position: absolute;
    top: 570px;
}
#homespan2{
    top:730px;
}
#homespan3{
    top:920px;
}
#homespan4{
    top:1120px;
}
.rightfloat2{
    height: 600px;
    width: 480px;
}
.rightfloat1{
    border: 2px solid black;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}
.top{
    margin: 20px 0px 50px 20px;
    height: 140px;
    width: 200px
}
.top1 img{
    height: 154px;
    width: 270px;
}
.top1 span{
    position: absolute;
    top: 120px;
    left: 400px;
    font-size: 70px;
    color: lightgray;
}
.top2 img{
    height: 140px;
    width: 200px;
}
.top2 span{
    position: absolute;
    top: 300px;
    left: 400px;
    font-size: 70px;
    color: lightgray;
}

.top3 img{
    height: 140px;
    width: 200px;
}
.top3 span{
    position: absolute;
    top: 490px;
    left: 400px;
    font-size: 70px;
    color: lightgray;
}
.top4 img{
    height: 140px;
    width: 200px;
}
.top4 span{
    position: absolute;
    top: 670px;
    left: 400px;
    font-size: 70px;
    color: lightgray;

}
.homebottom{
    display:flex;
    justify-content: space-evenly;
   height: 400px;
}
.homebottom1{
    height: 288px;
    width: 680px;
    margin-top: 100px;
    position: relative;
    left: -90px;
    margin-left: 40px;
}
.homebottom h1{
    width: 600px;
    height: 100px;
}
.homebottom h1::after{
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background: red;
}
/* h1::after{
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background: red;
    margin-left: 670px;
} */
.homebls{
    font-size: 18px;
}
h1{
    margin-left: 20px;
}
.bolly img{
    height: 200px;
    width: 250px;
    border-radius: 20px;
}
.bolly{
    position: relative;
    right: 500px;
    top: 40px;
    margin-bottom: -100px;
    cursor: pointer;
}
.bollyp{
    height: 180px;
    width: 400px;
    position: relative;
    top: -200px;
    left: 950px;
    font-size: 18px;
    padding: 10px;
}
a:link, a:visited{
    text-decoration-line: none;
    color: black;
}
a:active, a:hover{
    color: grey;
}
.bolly hr{
    position: relative;
    top: -150px;
}
.bollyrightfloat2{
    height: 800px;
    width: 480px;
    position: absolute;
    top: 154px;
    left: 1000px;
}
.bollyadver{
    border: 2px solid black;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    position: absolute;
    top: 1000px;
    left: 1050px;
}

.categorytop{
    border: 2px solid red;
    /* height: auto; */
    height: 800px;
    width: 450px;
    margin: auto;
}
.morefrom{
    font-size: 28px;
    margin-right: 1100px;
    font-weight: 600;
}
.morefrom:after
{
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: red;
    margin-left: 77px;
}

.article img{
    height: 280px;
    width: 450px;
}
.article p{
    margin-top: 35px;
    font-size: 18px;
}

.loadm{
    position: relative;
    top: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: cyan;
    font-size: 15px;
}
.homeloadm{
    position: relative;
    bottom: 120px;
    padding: 10px;
    border-radius: 20px;
    background-color: cyan;
    font-size: 15px;
}
.reaplatest{
    margin-top: -580px;
}
